@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  --default-mono-font-family:Cascadia Mono;
  --default-font-family:Roboto;
  --color-p1:#1D1E21;
  --color-p2:#0F0F11;
  --color-b1:#FEFDF6;
  --color-b2:#E0E0DE;
  --color-b3:#B1B1B1;
  --color-bl1:#0037CF;
  --color-bl2:#0B35A9;
}
